body, html {
    height: 100%;
}

body {
    background-image: url(images/bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#upper {
    height: 75%;
}

#button-div {
    display: flex;
    justify-content: center;
}

#button {
    height: 50px;
}